
<h1 style="color: #FFFF00"><b><i>THE PLACE TO BE</i></b></h1>

<div class="container">
  <div class="jumbotron" style="color: white">
    <h1><b>Evénements</b></h1>
    <p><i>Rejoins nous pour voir les bons plans du moment.<br>
       Connecte-toi, pour créer tes propres évènements</i></p>
  </div>
</div>
