<h1 style="color: #FF8C00"><b>Crée ton propre Evénement<b></h1>
<h5 style="color: #FF8C00"><b>Allez, jette-toi à l'eau et montre nous que tu es très créatif</b></h5>

<div class="container">
  <div class="Jumbotron" id="Jcreate">
    <h3 style="color: #FFFFFF" id="titre"><b>Remplis tous les champs</b></h3>
    <div class="row">
    <div class="col-md-6 col-md-offset-3" id="formcreate">
      <%= form_for(@event, url: new_event_path) do |f| %>
<br>
        <p style="color: #FFFFFF"><b>lieu :</b></p>
        <%= f.text_field :place, class: 'form-control' %>
<br>
        <p style="color: #FFFFFF"><b>Date :</b></p>
        <%= f.date_field :date, class: 'form-control' %>
<br>
        <p style="color: #FFFFFF"><b>Description :</b></p>
        <%= f.text_area :description, class: 'form-control' %>
<br>
        <input type="submit" class="btn btn-outline" value="Créer l'Evénement" id="btncreatevent">
      <% end %>
    </div>
    </div>
  </div>
</div>
